doctpye html
html(lang='en')
  head
    include ./includes/head.jade

  body(ng-app="App")
    img(src="http://mikemichalowicz.com//wp-content/uploads/2013/03/Corporate-GIfts.jpg" alt="wallpaper")
    include ./includes/navbar.jade
    ui-view
    include ./includes/footer.jade