doctype html
html(lang='en')
  head
    include ./includes/head.jade
    //- include analytics.js


  body(ng-app="App")
    include facebook.js
    include ./includes/navbar.jade
    ui-view
    include ./includes/footer.jade
