html {
  line-height: 1.4;
  height: 100%;
}

button a:hover, div a:hover, i:hover {
  text-decoration: none;
  cursor: pointer;
}

input {
  min-width: 202px;
}

/* NAVBAR.JADE*/

.nav-pills{
  margin-top: 13px;
}

.nav-pills li {
  min-width: 135px;
  position: absolute;
  right: 0;
}

.navbar-links.left {
  color: black;
  margin-right: 215px
}
.navbar-links.middle {
  margin-right: 100px
}
.navbar-links.right {
  margin-left: 50px;
}

.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(250, 250, 250, 0.7);
  color: #333;
  transition: all .25s ease-in-out;
}

a.navbar-links {
  font-family: Exo;
  color: #000;
}

a.navbar-links:hover {
  
}

li a.navbar-links {
  font-size: 18px;
}

/* HOME*/

.logo_container {
  padding-top: 100px;
  text-align: center;
  margin: 0 auto;
  min-width: 260px;
}

h1.logo {
  font-size: 44px;
  font-family: Exo;
}

p.logo {
  font-family: Georgia,Times,"Times New Roman",serif;
  font-weight: 400;
  color: #666;
  font-size: 19px;
  word-spacing: 2.5px;
}

.rach {
  position: absolute;
  top:0;
  left:0;
  z-index: -1000;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}

.wrapper {
  position: absolute;
  width: 48%;
  left: 0;
  height: 250px;
}

.home_container {
  color: #000;
  margin: 0 auto;
  margin-top: 20px;
  border: 1px solid #DCDCDC;
  padding: 20px 25px;
  border-radius: 3%;
  box-shadow: 0 2px 4px 0 #dcdcdc;
  max-width: 280px;
}

.button_container {
  position: relative;
  margin-top: 3%;
}

.wishlist_button_container button, .button_container button {
  width: 100px;
  height: 40px;
  margin: 0px 14px;
  background-color: transparent;
  border: none;
}

.wishlist_button_container button:hover, .button_container button:hover {
  border: 1px solid transparent;
  background-color: rgba(250, 250, 250, 0.7);
  color: #333;
  transition: all .25s ease-in-out;
}

.fb_btn{
  border: 1px solid #DCDCDC !important;
  border-radius: 3%;
  width: 200px !important;
  height: 50px !important;
  background-color: #3C5A99 !important;
  color: #FFFFFF !important;
}

.fb_btn:hover{
  box-shadow: 0 7px 4px 0 #dcdcdc;
}

.fb_logo {
  height: 25px;
  width: 25px;
  border-radius: 8%;
}

/* My-WishList*/

.main_container {
  width: 100%;
  margin: 0 auto;
  top: 50px;
  max-width: 1100px;
}

.main_container .container {
  margin-top: 50px;
}

.pro_pic_container, .pro_info {
  border: 1px solid black;
  padding: 6px 0;
  min-width: 202px;
  max-width: 202px;
}

.pro_pic {
  min-width: 200px;
  max-width: 200px;
  min-height: 200px;
  max-height: 200px;
  padding: 0px 4px;
  border: 4px solid #fff;
  border-radius: 5%;
}

.pro_info {
  padding-left: 5px;
}


.star_btn {
  color: gold;
  width: 60px;
}

.wishlist_container {
  position: relative;
  border: 1px solid black;
  text-align: center;
  min-width: 320px;
  max-width: 700px;
  margin-left: 58px;
}

.wishlist_item {
  font-size: 26px;
  color: #000;
  position: absolute;
  left: 0;
}

i.fa-trash {
  position: absolute;
  right: 0px;
}

i.fa-pencil-square-o {
  position: absolute;
  right: 32px;
}

.wishlist_items_container a, .wishlist_items_container i {
  margin: 0 50px;
  font-size: 16px;
}

/*Starred-WishLists*/

.wishlist_button_container {
  margin-bottom: 25px;
}

.fa-star.starred_wslist {
  color: gold;
  position: relative;
  top: -84px;
  float: left;
  right: 26px;
  font-size: 25px !important;
}

.fa-star.starred_wslist:hover {
  color: black ;
  transition: all .25s ease-in-out;
}

.search_fb {
  width: 200px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {
   text-align: center;
}

.facebook_name {
  position: relative;
  text-align: left;
  top: 87px;
  left: 35px;
  font-size: 15px;
  color: #fff;
  max-width: 130px;
}

.facebook_name:hover {
  color: #fff;
  background-color: rgba(250, 250, 250, 0.7);
  color: #333;
  transition: all .25s ease-in-out; : ;
  width: 130px;
}

.facebook_photo {
  width: 130px;
  height: 130px;
}

.starred {
  height: 140px;
}

/* FOOTER.JADE*/
.footer {
  position:fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: #B4B4B4;
}

/*media queries*/

@media screen and (max-width: 697px ){
  .pro_pic_container, .pro_info, .search_fb {
    margin: 0 165%;
    top: 40px;
  }
  .wishlist_container {
    margin-top: 40px;
    margin-left: 20%;
  }
  .pro_info {
    color: yellow;
  }
}

@media screen and (max-width: 446px){
  a.navbar-brand.logo{
    position: absolute !important;
    font-size: 40px;
    margin-left: 60px !important;
  }
  .navbar-right li a.left, a.middle, a.right {
    position: relative !important;
    top: 35px !important;
    left: -39px !important;
  }
  .navbar-container {
    height: 80px;
  }
}

@media screen and (max-width: 427px){
  .pro_pic_container, .pro_info, .search_fb {
    margin: 0 130%;
  }
  .wishlist_container {
    margin-left: 10.5%;
  }
}
