<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Public WishList</title>
    <base href="/">
    <meta property="fb:pages" content="228877194135719">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <link rel="stylesheet" href="dist/css/style.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.0/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.14.0/sortable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/satellizer/0.14.0/satellizer.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/app.routes.js"></script>
    <script src="app/components/home/home.js"></script>
    <script src="app/components/navbar/navbar.js"></script>
    <script src="app/components/my-wishlist/my-wishlist.js"></script>
    <script src="app/components/starred-lists/starred-lists.js"></script>
    <script src="app/shared/profile-card/profile-card.js"></script>
    <script src="app/services/nav.js"></script>
    <script src="app/services/user.js"></script>
    <script src="app/services/starred.js"></script>
  </head>
  <body ng-app="App">
    <nav ng-controller="NavbarCtrl" class="navbar-container">
      <div ng-if="isAuthenticated()" class="container-fluid"><a class="navbar-brand logo navbar-links">GiFTGENiE</a>
        <input type="text" placeholder="Search for Friends" ng-model="search" ng-keypress="searchFriends()" ng-focus="focused()" ng-blur="blurred()" class="friendInput">
        <ul ng-if="friendsContainer" ng-models="friends" class="friends_container">
          <li ng-repeat="name in nameArr | filter:search" class="searchedFriend"><img ng-src="https://graph.facebook.com/{{pro_pic}}/picture?type=small" class="searchFriendsPic">{{ name }}</li>
        </ul>
        <ul class="nav nav-pills navbar-right">
          <li><span ng-if="isAuthenticated()"><a ui-sref="my-wishlist" class="navbar-links left">{{display_name}}</a></span></li>
          <li><span ng-if="isAuthenticated()"><a ui-sref="starred-lists" class="navbar-links middle">Starred Lists</a></span></li>
          <li><span ng-if="isAuthenticated()"><a ng-click="logout()" class="navbar-links right">Logout</a></span></li>
        </ul>
      </div>
    </nav>
    <ui-view></ui-view>
    <footer class="footer">© 2016 -- All Rights Reserved. #Raychel</footer>
  </body>
</html>