html {
    line-height: 1.4;
    height: 100%;
}

button a:hover, div a:hover, i:hover, li:hover {
    text-decoration: none;
    cursor: pointer;
}

/* NAVBAR.JADE*/

.navbar-container {
  height: 60px;
  background: rgba(0,0,0,0.8);
  color: yellow;
}

a.navbar-links {
  color: #fff;
  margin-top: 10px;
}

.friendInput {
  position: absolute;
  top: 15px;
  width: 250px;
}

.fa.fa-search {
  width: 30px;
  height: 30px;
  margin-top: 15px;
  margin-left: 250px;
  background: #333;
  border: 1px solid #fff;
}

i.fa.fa-search::before {
  color: #fff;
  position: relative;
  top: 5px;
  left: 5px;
}

.friends_container {
    position: absolute;
    top: 35px;
    left: 133px;
    width: 250px;
    z-index: 1000;
}

.friends_container li {
  list-style-type: none;
  background-color: #fff;
  width: 250px;
  margin-left: -40px;
  height: 60px;
  color: #000;
  /*z-index: 5000;*/
}

.friends_container li:hover {
  background-color: rgb(189, 198, 207);
}

.searchFriendsPic {
  padding: 5px 10px;
  margin-right: 10px;
}

.nav-pills li {
    min-width: 135px;
    position: absolute;
    right: 0;
    top: 15px;
}


li a.navbar-links:hover {
  font-weight: 600;
}

li a.navbar-links {
  font-size: 18px;
}


.navbar-links.left {
    margin-right: 240px;
}

.navbar-links.middle {
    margin-right: 120px;
}

.navbar-links.right {
    margin-left: 40px;
}

/* HOME*/

.logo_container {
    padding-top: 160px;
    text-align: center;
    min-width: 260px;
}

h1.logo {
    font-size: 44px;
    color: white;
}

p.logo {
    font-family: Georgia,Times,"Times New Roman", serif;
    color: #acabab;
    font-size: 18px;
    word-spacing: 2.5px;
}

.home_container {
  color: #000;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px 25px;
  max-width: 280px;
}

.fb_btn {
    border: 1px solid #DCDCDC !important;
    border-radius: 3%;
    width: 200px !important;
    height: 50px !important;
    background-color: #3C5A99 !important;
    color: #FFFFFF !important;
}

.fb_btn.not-loggedin {
  position: relative;
  margin-top: -15px;
  height: 60px !important;
}

.fb_btn:hover {
  box-shadow: 0 3px 3px 0 #dcdcdc;
}

.fb_logo {
  width: 25px;
  border-radius: 8%;
}

.rach {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1000;
    opacity: 0.93;
    width: 100%;
    height: 100%;
}


.button_container button, .wishlist_button_container button {
  width: 100px;
  height: 40px;
  margin: 0px 14px;
  background-color: transparent;
  border: none;
}

 .button_container button:hover, .wishlist_button_container button:hover {
  border: 1px solid transparent;
  background-color: rgba(250, 250, 250, 0.7);
  color: #333;
  transition: all .25s ease-in-out;
}


/* My-WishList*/

.main_container {
    width: 100%;
    margin: 0 auto;
    top: 50px;
    max-width: 1100px;
}

.main_container .container {
    margin-top: 70px;
}

.profile.container {
  z-index: -1000;
}

.pro_pic_container, .pro_info {
    border: 1px solid black;
    padding: 6px 0;
    min-width: 202px;
    max-width: 202px;
}

.pro_pic {
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    padding: 0px 4px;
    border: 4px solid #fff;
    border-radius: 5%;
}

.pro_info {
    padding-left: 5px;
}



.title_container {
    border: 1px solid orange;
    height: 80px;
}

.title_container h2 {
    text-align: center;
}

.top_container {
    border: 1px solid pink;
    height: 86px;
}

.my_wishlist_title {
    border: 1px solid black;
}

.pro_info i {
  margin-right: 10px;
}

.email_address {
  font-size: 14px;
}




.add_btn {
  position: absolute;
  left: 30px;
  margin-top: 5px;
  border: 1px solid #435eac;
  background: transparent;
  color: #435eac;
  width: 100px;
}

.add_btn:hover {
    background-color: #435EAC;
    color: #FFF;
}

input.searchItems {
  position: relative;
  top: 4px;
  height: 40px;
  width: 300px;
}
/*

.follow_button:hover {
  background-color: #e81c4f;
  border-color: #e81c4f;
}*/

.unfollow_button {
  background-color: #e81c4f;
  border-color: #e81c4f;
}

.star_btn {
    color: gold;
    width: 60px;
}

.wishlist_container {
    position: relative;
    border: 1px solid black;
    text-align: center;
    min-width: 320px;
    max-width: 700px;
    margin-left: 58px;
}

.bottom_container {
  border: 1px solid purple;
}

.wishlist_item {
    font-size: 26px;
    color: #000;
    position: absolute;
    left: 0;
}

i.fa-heart-o {
  position:absolute;
  right: 66px;
}

i.fa-heart-o:hover,
i.fa-trash:hover,
i.fa-pencil-square-o:hover
 {
  font-weight: bold;
}

i.fa-trash {
    position: absolute;
    right: 0px;
}


i.fa-pencil-square-o {
    position: absolute;
    right: 32px;
}

.liked_item {
  background-color: yellow;
}

.unliked_item {
  background-color: none;
}

.wishlist_items_container a, .wishlist_items_container i {
    margin: 0 50px;
    font-size: 16px;
}

.wishlist_items {
    margin-left: -10px;
    margin-top: 15px;
}

.wishlist_items li {
  height: 30px;
}

.wishlist_item:hover {
  background-color: rgb(189, 198, 207);
}

.like_share_container {
    border: 1px solid black;
    padding: 10px;
    height: 77px;
}

.fb_comments_container {
    border: 1px solid red;
    margin-top: 30px;
}

.followers, .following {
  list-style-type: none;
}

/*Starred-WishLists*/

.wishlist_container.container.starred {
  background-color: green;
}

.wishlist_button_container {
    border: 1px solid black;
    padding: 5px;
    height: 79px;
}

.wishlist_button_container.starred {
    margin-top: 20px;
    margin-bottom: -70px;
}

.fa-star.starred_wslist {
    color: gold;
    position: relative;
    top: -84px;
    float: left;
    right: 26px;
    font-size: 25px !important;
}

.fa-star.starred_wslist:hover {
    color: black;
    transition: all .25s ease-in-out;
}

.search_fb {
    width: 200px;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

.facebook_name {
    position: relative;
    text-align: left;
    top: 87px;
    left: 35px;
    font-size: 15px;
    color: #fff;
    max-width: 130px;
}

.facebook_name:hover {
    color: #fff;
    background-color: rgba(250, 250, 250, 0.7);
    color: #333;
    transition: all .25s ease-in-out;
    width: 130px;
}

.facebook_photo {
    width: 130px;
    height: 130px;
}

.starred {
    height: 140px;
}

.user_card img {
  min-width: 200px;
  max-width: 200px;
  max-height: 200px;
  min-height: 200px;
}

.user_card img:hover {
  cursor: pointer;
}

.user_name {
  width: 200px;
  background-color: rgb(189, 198, 207);
}

/*FAQ*/

.wrapper {
  position: absolute;
  width: 48%;
  left: 0;
  height: 250px;
}


.faq.container {
  padding: 15px;
  border: 1px solid #000;
  height: 500px;
}

.faq.container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.faquestions li {
  list-style-type: none;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 25px;
  max-width: 425px;
}

.faquestions h5:hover {
  cursor:pointer;
}

.faq_answers {
  background-color: green;
  margin-left: 25px;
}

.search_faq_container {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

input.search_faqs {
  display: inline-block;
  width: 500px;
}


/* FOOTER.JADE*/
.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: #B4B4B4;
    height: 60px;
    background-color: rgba(0,0,0,.8);
    display: inline-block;
    left: 0;
}

footer div {
  margin-top: 15px;
}

footer i.faq {
  margin-left: -50px;
}

div.left-side i {
  margin: 0 5px;
  border: 1px solid white;
  border-radius: 50%;
  padding: 6px;
}

div.middle p {
  font-size: 10px;
  margin-top: 5px;
}

/*div.left-side {
  background-color: green;
}

div.right-side {
  background-color: purple;
}*/

footer div.version:hover {
  cursor: pointer;
}

/*media queries*/

@media screen and (max-width: 697px) {
    .pro_pic_container, .pro_info, .search_fb {
        margin: 0 165%;
        top: 40px;
    }

    .wishlist_container {
        margin-top: 40px;
        margin-left: 20%;
    }

    .pro_info {
        color: yellow;
    }
}

@media screen and (max-width: 446px) {
    a.navbar-brand.logo {
        position: absolute !important;
        font-size: 40px;
        margin-left: 60px !important;
    }

    .navbar-right li a.left, a.middle, a.right {
        position: relative !important;
        top: 35px !important;
        left: -39px !important;
    }

    .navbar-container {
        height: 80px;
    }
}

@media screen and (max-width: 427px) {
    .pro_pic_container, .pro_info, .search_fb {
        margin: 0 130%;
    }

    .wishlist_container {
        margin-left: 10.5%;
    }
}