  <!-- <img src="./images/gift-wrapper.png" alt="gift-wrapper" class="wrapper"> -->

  <div class="logo_container">
    <h1 class="logo">GiFTGENiE</h1>
    <p class="logo">No More Unwanted Gifts</p>
  </div>

  <div class="home_container">
    <div class="button_container">
      <button ng-click="authenticate('facebook')" class="fb_btn">
        <img src="./images/facebook.jpg" alt="facebook-logo" class="fb_logo">
        Login with Facebook
      </button>
    </div>
  </div>

<video src="./images/love.mp4" alt="Cutie" class="rach video" autoplay loop muted>
