<img src="dist/images/wallpaper.gif" alt="Cutie" class="rach">

<div class="logo_container">
  <h1 class="logo">GiFTGENiE</h1>
  <p class="logo">
    No More Unwanted
    <span class="stationary">Gifts</span>
    <div class="rw-words rw-words-2">
      <span>Birthday</span>
      <span>Party </span>
      <span>Graduation</span>
      <span>Wedding</span>
      <span>Anniversary</span>
      <!-- <span>Christmas</span> -->
      <!-- <span>Back-to-School</span> -->
      <!-- <span> Valentine</span> -->
    </div>
  </p>
</div>

<div class="home_container" ng-if="!giftGenieLogin">
  <div class="button_container">
    <button ng-click="authenticate('facebook')" class="fb_btn" ui-sref="my-wishlist">
      <img src="dist/images/facebook.jpg" alt="facebook-logo" class="fb_logo">
      Login with Facebook
    </button>
  </div>
</div>
