<img src="https://67.media.tumblr.com/56300441954bbce6771e5d0918356f81/tumblr_nl7entl3Rc1tyvd17o1_500.gif" alt="Cutie" class="rach">

<div class="logo_container">
  <h1 class="logo">GiFTGENiE</h1>
  <p class="logo">
    No More Unwanted
    <span class="stationary">Gifts</span>
    <div class="rw-words rw-words-2">
      <span>Birthday</span>
      <span>Wedding </span>
      <span>Christmas</span>
      <span>Graduation</span>
      <!-- party -->
      <!-- anniversary -->
      <!-- valentine -->
    </div>
  </p>
</div>

<div class="home_container" ng-if="!loggedIn">
  <div class="button_container">
    <button ng-click="authenticate('facebook')" class="fb_btn" ui-sref="my-wishlist">
      <img src="dist/images/facebook.jpg" alt="facebook-logo" class="fb_logo">
      Login with Facebook
    </button>
  </div>
</div>