<div class="main_container">

  <div class="faq container">
    <h1>Frquently Asked Questions</h1>
    <div class="search_faq_container">
      <input type="text" ng-model="search" class="search_faqs" placeholder="What Question Do You Have?">
    </div>

    <ul class="faquestions">
      <li ng-repeat="faq in faqs | filter:search">
        <h5 ng-click="getAnswer()">{{faq.question}} </h5><br>
        <h6 class="faq_answers" ng-if="showAnswer">{{faq.answer}} </h6>
      </li>
    </ul>
  </div>


</div>