<div class="main_container">

  <div class="profile container col-xs-3">
    <div class="pro_pic_container col-xs-10">
      <img ng-src="https://graph.facebook.com/{{pro_pic}}/picture?type=large" class="col-xs-12 pro_pic">
    </div>
    <div class="pro_info col-xs-10">
      <p><i class="fa fa-user"></i>
        <a href=""></a>
        {{display_name}}
      </p>
      <p><i class="fa fa-birthday-cake"></i> {{birthday}}</p>
      <p class="email_address"><i class="fa fa-envelope-o"></i>{{email}}</p>
      <p>Followers: {{friendsLength}} </p>
      <p>Following: {{friendsLength}} </p>

      <button class="btn btn-primary" ng-class="{follow_button: hover}" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
        <div ng-if="hover">Unfollow</div>
        <div ng-if="!hover">Follow <span ng-if="alreadyFollowing">Following</span></div>
      </button>

      <button ng-click="goToSettings()" class=" btn btn-info settings">
        <i class="fa fa-cog" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <div class="wishlist_container container col-xs-8" ng-if="!settings">
    <div class="title_container">
      <h2 class="my_wishlist_title">My WishList</h2>

      <button ng-click="favoriteWishlist = !favoriteWishlist; star(user);" ng-class="{star_btn: favoriteWishlist}">
        <i class="fa fa-star"></i>
      </button>
    </div>
    <div class="top_container">
      <!-- <div class="col-xs-offset-3 col-xs-5 like_share_container" data-href="https://www.facebook.com/giftsgenies" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" data-ref="referred" action="recommend"></div> -->
    </div>
    <div class="bottom_container">
      <button type="button" class="btn btn-primary-lg add_btn col-xs-pull-1" data-toggle="modal" data-target="#myModal"> <i class="fa fa-plus-circle"></i></button>
      <input type="text" placeholder="Search Wishlist" ng-model="search" class="searchItems">
      <ol ui-sortable="sortableOptions" ng-model="items" class="wishlist_items" >
        <li class="wishlist_items_container" ng-repeat="item in items | filter:search">
          <a href="{{item.link}}" class="wishlist_item" target="_blank"> {{item.name}} </a>
          <i class="fa fa-heart-o" ng-click="like_heart = !like_heart; like_item(item)" ng-class="{liked_item: like_heart}"></i>
          <i class="fa fa-pencil-square-o" ng-click="edit(item)" data-toggle="modal" data-target="#edit"></i>
          <i class="fa fa-trash" ng-click="delete(item, $index)"></i>
        </li>
      </ol>
    </div>
    <div class="fb_comments_container">
<!--       <div class="fb-comments" data-href="http://localhost:3000/#/my-wishlist" data-numposts="5" data-order=by="social" data-width="280"></div>
 -->      <!-- this is for when the app is deployed -->
      <!-- <div class="fb-comments" data-href="https://giftsgenies.herokuapp.com/#/" data-width="464" data-numposts="10"></div> -->
    </div>
  </div>
</div>

<!-- settings -->

<div class="main_container" ng-if="settings">
  <div class="wishlist_container container col-xs-8">
    <div class="title_container">
      <h2 class="my_wishlist_title">Settings Container</h2>
      <div ng-click="backToWlist()"><a>Back To My WishList</a></div>
    </div>

    <div class="top_container">
      Privacy:
      <input type="radio" name="privacy" value="public" ng-click="makePublic()" checked> Public
      <input type="radio" name="privacy" value="private" ng-click="makePrivate()"> Private
      <div ng-if="public">Your Account is Public</div>
      <div ng-if="private">Your Account is Private</div>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add an Item to your WishList</h4>
      </div>
      <div class="modal-body">
        <input type="text" placeholder="Link" ng-model="item.link" > <br>
        <input type="text" placeholder="Item Name" ng-model="item.name">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="add(item, user)" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-keydown="$event.which === 13 && save_changes(item, editItemId)">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Your Item</h4>
      </div>
      <div class="modal-body">
        <input type="text" placeholder="link" ng-model="item.link" > <br>
        <input type="text" placeholder="Item Name" ng-model="item.name">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="save_changes(item, editItemId)" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
