<div class="main_container">

  <div class="profile container col-xs-3">
    <div class="pro_pic_container col-xs-12">
      <img ng-src="https://graph.facebook.com/{{pro_pic}}/picture?type=large" class="col-xs-12 pro_pic">
    </div>
    <div class="pro_info col-xs-12">
      <p><i class="fa fa-user"></i>
        {{display_name}}
      </p>
      <p><i class="fa fa-birthday-cake"></i> {{birthday}}</p>
      <p class="email_address"><i class="fa fa-envelope-o"></i>{{email}}</p>
    </div>
    <div class="pro_info_stats col-xs-12">
      <p ng-click="goToFollowing()" class="following col-xs-6">Following
        <span class="nums">{{followingCount}}</span>
      </p>
      <p ng-click="goToFollowers()" class="followers col-xs-6">Followers
        <span class="nums">{{followersCount}}</span>
      </p>
    </div>
    <div class="pro_info_btns col-xs-12">
      <button ng-click="goToSettings()" class=" btn btn-info settings col-xs-12">
        <i class="fa fa-cog" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <div class="wishlist_container container col-xs-8" ng-if="!starred && !settings && !followingPage && !followersPage">
    <div class="title_container">
      <h2 class="my_wishlist_title">My WishList</h2> <br>
      <span class="favorited">
        <!-- when not clicked on -->
        <div class="FavByStarContainer">
          <i class="fa fa-star mine"></i>
          <p>By
            <span data-toggle="modal" data-target="#showFavBy">{{favoritedByLength}}
              <span ng-if="favoritedByLength === 1" >Person</span>
              <span ng-if="favoritedByLength >= 2 || favoritedByLength < 1">People</span>
            </span>
          </p>
        </div>
      </span>
    </div>
  <div class="bottom_container col-xs-12">
    <div class="top_line">
      <button type="button" class="add_btn btn btn-primary" data-toggle="modal" data-target="#myModal">
        ADD
      </button>
      <input type="text" placeholder="Search Wishlist" ng-model="search" class="searchItems">
    </div>

    <ol ui-sortable="sortableOptions" ng-model="items" class="wishlist_items" >
      <li class="wishlist_items_container" ng-repeat="item in items | filter:search">
        <a href="{{item.link}}" class="wishlist_item" target="_blank"> {{item.name}} </a>
        <i class="fa fa-pencil-square-o" ng-click="edit(item, $index)" data-toggle="modal" data-target="#edit"></i>
        <i class="fa fa-trash" ng-click="delete(item, $index)"></i>
      </li>
    </ol>
  </div>
</div>
</div>

<!-- settings -->

<div class="main_container" ng-if="settings && !followingPage && !followersPage">
  <div class="wishlist_container container col-xs-8">
    <div class="title_container">
      <h2 class="my_wishlist_title">Settings Container</h2>
    </div>

    <div class="bottom_container">
      Privacy:
      <input type="radio" name="privacy" value="public" ng-click="makePublic()" ng-checked="public"> Public
      <input type="radio" name="privacy" value="private" ng-click="makePrivate()" ng-checked="private"> Private
      <div ng-if="public">Your Account is Public</div>
      <div ng-if="private">Your Account is Private</div>
    </div>

  </div>
</div>

<!-- following -->
<div class="main_container" ng-if="followingPage && !followersPage && !settings">
  <div class="wishlist_container container col-xs-8">
    <div class="title_container">
      <h2 class="my_wishlist_title">Following</h2>
    </div>

    <div class="bottom_container">
      <input ng-model="following.name" placeholder="Search Following" class="col-xs-12">
    </div>

    <div class="bottom_container">
      <li ng-repeat="following in followingModel | filter:following.name" class="following col-xs-12 col-sm-6 col-md-4" ng-click="goToOthers(following)">
        <img ng-src="https://graph.facebook.com/{{following.id}}/picture?type=large" class="followers_pic">
        <h6 class="user_name">{{following.name}}</h6>
      </li>
    </div>

  </div>
</div>

<!-- followers -->
<div class="main_container" ng-if="followersPage && !followingPage && !settings">
  <div class="wishlist_container container col-xs-8">
    <div class="title_container">
      <h2 class="my_wishlist_title">Followers</h2>
    </div>
    <div class="bottom_container">
      <input ng-model="followers.name" placeholder="Search Followers" class="col-xs-12">
    </div>

    <div class="bottom_container">
      <li ng-repeat="follower in followersModel | filter:following.name" class="followers col-xs-12 col-sm-6 col-md-4" ng-click="goToOthers(follower)">
        <img ng-src="https://graph.facebook.com/{{follower.id}}/picture?type=large" class="followers_pic">
        <h6 class="user_name">{{follower.name}}</h6>
      </li>
    </div>

  </div>
</div>

<!-- starred -->
<div class="main_container" ng-if="starred && !followersPage && !followingPage && !settings">
  <div class="wishlist_container container col-xs-8">
    <div class="title_container">
      <h2 class="my_wishlist_title">Starred People</h2>
    </div>
    <div class="bottom_container">
      <input ng-model="starred.name" placeholder="Search starred" class="col-xs-12 starred">
    </div>

    <div class="bottom_container starred">
      <div ng-model="favorites">
        <div ng-repeat="favorite in favsModel | filter:favorite.name">
          <div class="user_card col-xs-12 col-sm-6 col-md-4" ng-click="goToOthers(favorite)">
            <img ng-src="https://graph.facebook.com/{{favorite.id}}/picture?type=large" ng-click="show_user_info()" class="followers_pic"></img>
            <h6 class="user_name">{{favorite.name}}</h6>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Wishes To Be Granted</h4>
      </div>
      <div class="modal-body">
        <form name="addItemForm" novalidate>
          <input type="text" placeholder="Link" ng-model="item.link" required>
          <input type="text" placeholder="Item Name" ng-model="item.name" required>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="add(item, user)" data-dismiss="modal" ng-disabled="addItemForm.$invalid">Add Wish</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-keydown="$event.which === 13 && save_changes(item, editItemId)">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Update Your Wish</h4>
      </div>
      <div class="modal-body">
        <form name="editForm" novalidate>
          <input type="text" placeholder="link" ng-model="item.link" required >
          <input type="text" placeholder="Item Name" ng-model="item.name" required>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="save_changes(item, editItemId)" data-dismiss="modal" ng-disabled="editForm.$invalid">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="showFavBy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog favoritedBy" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" data-backdrop="false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Favorited By {{favoritedByLength}}  </h4>
      </div>
      <div class="modal-body">
        <div class="favoritedByModalContainer col-xs-12">
          <li  data-dismiss="modal" data-backdrop="false" ng-repeat="favoritedBy in favoritedByModel" class="favoritedByModal" ng-click="goToOthers(favoritedBy)">
            <img ng-src="https://graph.facebook.com/{{favoritedBy.fbookId}}/picture?type=normal" alt=""  >
            <p> <span>{{favoritedBy.name}}</span> </p>
          </li>
        </div>
      </div>
    </div>
  </div>
</div>
