<div ng-init="items = [{name:'I'},
                         {name:'Love'},
                         {name:'Rachel'},
                         {name:'Slater'},
                         {name:'So'},
                         {name:'Much'}]"></div>

<div class="wishlist_container">
  <h2 class="my_wishlist_title">My WishList</h2>
  <div class="wishlist_button_container">
    <button type="button" class="btn btn-primary-lg" data-toggle="modal" data-target="#myModal">Add New</button>
    <button><a ui-sref="starred-lists">Starred</a></button> <br>
    <input type="text" placeholder="search saved items" class="search_items" ng-model="search">
  </div>
  <ol ui-sortable ng-model="items">
    <li class="wishlist_items_container" ng-repeat="item in items | filter:search">
      <a href="" class="wishlist_item">{{item.name}} </a>
      <i class="fa fa-pencil-square-o" ng-click="edit()"></i>
      <i class="fa fa-trash" ng-click="delete($index)"></i>
    </li>
  </ol>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add an Item to your WishList</h4>
      </div>
      <div class="modal-body">
        <input type="text" placeholder="link"> <br>
        <input type="text" placeholder="title">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="add_new()" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>