meta(charset='UTF-8')
title Public WishList
base(href='/')
link(rel='stylesheet', href="vendor/bootstrap/dist/css/bootstrap.min.css")
link(rel='stylesheet', href='style.css')
script(src='vendor/angular/angular.js')
script(src='vendor/angular-ui-router/release/angular-ui-router.min.js')
script(src='vendor/angular-local-storage/dist/angular-local-storage.min.js')
script(src='vendor/jquery/dist/jquery.min.js')
script(src='vendor/bootstrap/dist/js/bootstrap.min.js')
script(src='app/app.js')
script(src='app/app.routes.js')
script(src='app/components/home/home.js')
script(src='app/components/navbar/navbar.js')
script(src='app/components/my-wishlist/my-wishlist.js')
script(src='app/components/starred-lists/starred-lists.js')
script(src='app/services/login.js')
script(src='app/services/nav.js')
