nav.navbar-container(ng-controller="NavbarCtrl")
  .container-fluid(ng-if="isAuthenticated()")
    a.navbar-brand.logo.navbar-links GiFTGENiE
    ul.nav.nav-pills.navbar-right
      li
        span(ng-if='isAuthenticated()')
          a(ui-sref="my-wishlist").navbar-links.left {{display_name}}
      li
        span(ng-if='isAuthenticated()')
          a(ui-sref="starred-lists").navbar-links.middle Starred Lists
      li
        span(ng-if='isAuthenticated()')
          a(ng-click="logout()").navbar-links.right Logout
