nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand.logo PUBLiC WiSHLiST
    ul.nav.nav-pills.navbar-right
      li(role="presentation"): a(href="/signup") Sign Up
      li(role="presentation"): a(href="/login") Log in