nav.navbar.navbar-default.navbar-fixed-top
  ul.nav.navbar-nav.navbar-left
    li.navbar-brand Public WishList
  ul.nav.navbar-nav.navbar-right
    li.links(ng-click="home()") Home
    li.links(ng-click="login()") Login