nav.navbar-container(ng-controller="NavbarCtrl")
  .container-fluid
    a.navbar-brand.logo.navbar-links(ui-sref="home" ng-click="backToHome()") GiFTGENiE
    input(type="text" placeholder="Search Friends" ng-model="search" ng-keypress="searchFriends()" ng-focus="focused()" ng-blur="blurred()" ng-if="isAuthenticated()").friendInput
    i.fa.fa-search(ng-if="isAuthenticated()")
    ul.friends_container(ng-if="true" ng-model="friends")
    ul.friends_container(ng-if="friendsContainer" ng-model="friends")
      li(ng-repeat="user in userModel | filter:search" ng-click="goToOthers(user)")
        img(ng-src="https://graph.facebook.com/{{user.id}}/picture?type=small").searchFriendsPic
        {{ user.name }}
    ul.nav.nav-pills.navbar-right
      li
        span(ng-if='isAuthenticated()')
          a(ng-click="goToWishList()").navbar-links.left {{display_name}}
      li
        span(ng-if='isAuthenticated()')
          a(ng-click="goToStarred()").navbar-links.middle Starred Lists
      li
        span(ng-if='isAuthenticated()')
          a(ng-click="logout()").navbar-links.right Logout
      li
        span(ng-if="!isAuthenticated()")
          button(ng-click="authenticate('facebook')" class='fb_btn not-loggedin' ui-sref="my-wishlist({id: facebookId})" ng-if="infaq").navbar-links.right: img(src="dist/images/facebook.jpg" alt="facebook-logo" class="fb_logo")
