nav.navbar-container(ng-controller="NavbarCtrl")
  .container-fluid(ng-if="isAuthenticated()")
    .navbar-header
      a.navbar-brand.logo.navbar-links GiFTGENiE
    ul.nav.nav-pills.navbar-right
      li(role="presentation")
        span(ng-if='isAuthenticated()')
          a(ng-click="my_wishlist()").navbar-links My WishList
      li(role="presentation")
        span(ng-if='isAuthenticated()')
          a(ng-click="starred_lists()").navbar-links Starred Lists
      li(role="presentation")
        span(ng-if='isAuthenticated()')
          a(ng-click="logout()").navbar-links Logout
