nav.navbar-container(ng-controller="NavbarCtrl")
  .container-fluid(ng-if="isAuthenticated()")
    a.navbar-brand.logo.navbar-links(ui-sref="home") GiFTGENiE
    input(type="text" placeholder="Search Friends" ng-model="search" ng-keypress="searchFriends()" ng-focus="focused()" ng-blur="blurred()").friendInput
    i.fa.fa-search
    //- ul.friends_container(ng-if="friendsContainer" ng-model="friends")
    ul.friends_container(ng-if="true" ng-model="friends")
      li.searchedFriend(ng-repeat="user in userModel | filter:search" ng-click="goToOthers(user)")
        img(ng-src="https://graph.facebook.com/{{user.id}}/picture?type=small").searchFriendsPic
        {{ user.name }}
    ul.nav.nav-pills.navbar-right
      li
        span(ng-if='isAuthenticated()')
          a(ng-click="goToWishList()").navbar-links.left {{display_name}}
      li
        span(ng-if='isAuthenticated()')
          a(ui-sref="starred-lists").navbar-links.middle Starred Lists
      li
        span(ng-if='isAuthenticated()')
          a(ng-click="logout()").navbar-links.right Logout
