nav.navbar-container(ng-controller="NavbarCtrl")
  .container-fluid
    .navbar-header
      a.navbar-brand.logo.navbar-links GiFTGENiE
    ul.nav.nav-pills.navbar-right
      li(role="presentation")
        a(ng-click="signup()").navbar-links Sign Up
      li(role="presentation")
        a(ng-click="login()").navbar-links Log in