<div class="main_container">

  <div class="profile container col-xs-3">
    <input type="text" placeholder="search by facebook name" class="search_fb col-xs-10">
    <div class="pro_pic_container col-xs-10">
      <!-- the following info will only be seen once searched and clicked on -->
      <video src="dist/images/love.mp4" class="col-xs-12 pro_pic" autoplay loop muted></video>
    </div>
    <div class="pro_info col-xs-10">
      <p>{{display_name}}</p>
      <p>{{email}}</p>
      <p>{{birthday}}</p>
      <button ng-click="star()" class="star_btn"><i class="fa fa-star"></i></button>
    </div>
  </div>

  <div class="wishlist_container container col-xs-8">
    <div class="title_container">
      <h2 class="my_wishlist_title">Starred</h2>
    </div>
    <div class="bottom_container">
    </div>
  </div>

</div>
